.form-control {
    background: #f5f5f5;
}

.brand-btn {
    background: #1a91f8;
    color: #fff;
    font-weight: 400;
    outline: 0;
    text-decoration: none;
    border: 1px solid #1a91f8;
}

.form-control[_ngcontent-ng-c3858022124] {
    background: #f5f5f5;
    width: 264px;
}