<form [formGroup]="monteCarloSimulationForm">
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Symbol</label>
            <input type="text" class="form-control" formControlName="symbol" readonly>
        </div>
        <div class="col-md-6">
          <label class="form-label">Current Market Price</label>
          <input type="number" class="form-control" formControlName="currentMarketPrice">
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Exercise Price/Strike Price</label>
                <input type="number" class="form-control" formControlName="strikePrice">
            </div>
            <div class="col-md-4">
                <label class="form-label">Date of Transaction</label>
                <input type="date" class="form-control" formControlName="dateOfTransaction">
            </div>
            <div class="col-md-4">
                <label class="form-label">Expiration Date</label>
                <input type="date" class="form-control" formControlName="expirationDate"/>
            </div>      
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Implied Volatility(%)</label>
                <input type="number" class="form-control" formControlName="impliedVolatilityPercentage"/>
            </div>
            <div class="col-md-6">
                <label class="form-label">Simulation path</label>
                <select class="form-control" formControlName="simulationPathList">
                    <option *ngFor="let list of simulationPathList" [value]="list.steps">
                        {{list.path}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <a  id="btn_sub" class="btn brand-btn margin-bottom-30 mr-5" (click)="postPredictData()">
                    Calculate Premium
                </a> 
            </div>
            <div class="col-md-6">
                <form [formGroup]="resultForm" >
                    <input type="text" class="form-control" formControlName="valueOfCall">
                </form>
            </div>
        </div>
    </div>
</form>

