@import "~bootstrap/dist/css/bootstrap.css";
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
body{
  background:url("~src/assets/images/stock-image.jpg");
  background-attachment: fixed;
  padding-top: 100px;
  overflow-x: hidden;
}




